blinker
certifi
charset-normalizer
click
filelock
Flask
fsspec
gunicorn
huggingface-hub
idna
itsdangerous
Jinja2
joblib
MarkupSafe
mpmath
networkx
numpy
packaging
pillow
psycopg2-binary
PyYAML
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typing_extensions
urllib3
Werkzeug